<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Lista Telefonica</title>

    <!-- styles -->
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">

    <!-- scripts angular -->
    <script src="./lib/angular/angular.js"></script>
    <script src="./lib/angular-messages/angular-messages.js"></script>
    <script src="./lib/angular-locale-pt-br/angular-locale_pt-br.js"></script>

    <!-- other scripts -->
    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- custom scripts -->
    <script src="./js/app.js"></script>
  </head>
  <body ng-controller="listaContatos">
    <div class="container jumbotron">
      <h2 class="text-center" ng-bind="title"></h2>
      <table class="table table-striped" ng-if="contatos.length > 0">
        <div class="col-xs-5 col-xs-offset-7" style="margin-top: 50px;">
          <input type="text" class="form-control" placeholder="Busca Inteligente" ng-model="busca">
        </div>
        <thead>
          <tr>
            <th>
              <input type="checkbox" class="checkbox" ng-model="selecionarTodos">
            </th>
            <th><a href="#" ng-click="ordenarPor('nome')">Nome</a></th>
            <th class="text-center"><a href="#" ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th class="text-center"><a href="#" ng-click="ordenarPor('operadora')">Operadora</a></th>
            <th class="text-center"><a href="#" ng-click="ordenarPor('data')">Atualizado em</a></th>
            <th class="text-center">Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contato in contatos | filter: busca | orderBy: campo || 'nome': reverso" ng-class="{'text-danger': contato.selecionado}">
            <td>
              <input type="checkbox" class="checkbox" ng-model="contato.selecionado">
            </td>
            <td>{{contato.nome}}</td>
            <td class="text-center">{{contato.telefone}}</td>
            <td class="text-center">{{contato.operadora}}</td>
            <td class="text-center">{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td class="text-center">
              <button type="button" class="btn btn-xs btn-danger" ng-click="removerContato($index)">&times;</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block no-radius" data-target="#formModal" data-toggle="modal">Adicionar Contato</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger btn-block no-radius" ng-click="removerSelecionados(contatos, selecionarTodos)">Remover Selecionados</button>
          </div>
        </div>
      </div>
      <!-- fim da row das actions -->
    </div>
    <!-- fim do container -->

    <!-- modal do formulario -->
    <div class="modal" id="formModal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal">&times;</span>
            <h3 class="modal-title text-center">Adicionar Contato</h3>
          </div>
          <!-- fim do modal header -->
          <div class="modal-body">
            <div class="row" style="margin-bottom: 30px; ">
              <div class="col-xs-6 col-xs-offset-3">
                <form name="formContato">
                  <div class="form-group">
                    <input type="text" name="nome" class="form-control no-radius" placeholder="Nome" ng-model="contato.nome" ng-required="true" ng-minlength="5">
                  </div>
                  <div class="form-group">
                    <input type="text" name="telefone" class="form-control no-radius" placeholder="Telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
                  </div>
                  <div class="form-group">
                    <select name="operadora" class="form-control no-radius" ng-model="contato.operadora" ng-options="operadora.nome as operadora.nome group by operadora.categoria for operadora in operadoras | orderBy: 'nome'" ng-required="true">
                      <option value="">Selecione uma operadora.</option>
                    </select>
                  </div>
                </form>
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-block no-radius" data-dismiss="modal" ng-click="adicionarContato(contato)" ng-disabled="formContato.$invalid">Adicionar Contato</button>
                </div>
                <!-- messagens com alerta de error -->
                <!-- não funciona sem um servidor -->
                <!-- <div ng-include="'error-messages.html'"></div> -->
                <div ng-if="formContato.nome.$touched" ng-messages="formContato.nome.$error">
                  <div class="alert alert-danger no-radius text-center" ng-message="required">
                    <p>Por favor, preencha o nome.</p>
                  </div>
                  <div class="alert alert-danger no-radius text-center" ng-message="minlength">
                    <p>O nome deve conter no minimo 5 letras</p>
                  </div>
                </div>
                <div ng-if="!formContato.nome.$invalid" ng-messages="formContato.telefone.$error">
                  <div class="alert alert-danger no-radius text-center" ng-show="formContato.telefone.$touched" ng-message="required">
                    <p>Por favor, preencha o telefone</p>
                  </div>
                  <div class="alert alert-danger no-radius text-center" ng-message="pattern">
                    <p>Telefone inválido, por favor informe o telefone corretamente. Ex: 9999-8888</p>
                  </div>
                </div>
                <div ng-if="!formContato.telefone.$invalid" ng-messages="formContato.operadora.$error">
                  <div class="alert alert-danger no-radius text-center" ng-message="required">
                    <p>Por favor, selecione a operadora</p>
                  </div>
                </div>

                <!-- fim dos alertas de error -->
              </div>
            </div>
          </div>
          <!-- fim do modal body -->
        </div>
        <!-- fim do modal content -->
      </div>
      <!-- fim do modal dialog -->
    </div>
    <!-- fim do modal -->
  </body>
</html>
