<!-- render modal for register contacts -->
<div ui-view></div>
<div ui-view="alert-modal"></div>
<a href="#" onclick="openchat();">Abrir chat</a>


<!-- search -->
<div class="row">
  <div class="col-xs-5 col-xs-offset-7 search">
    <input type="text" class="form-control" placeholder="Busca Inteligente" data-action="grow" ng-model="viewModel.busca">
  </div>
</div>
<!-- end for search -->

<div class="default-table">
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <a class="btn btn-primary btn-block no-radius" href="#!/contatos/form/" ng-click="viewModel.abrirModal();">Adicionar Contato</a>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <button type="button" class="btn btn-danger btn-block no-radius" data-target="#modal-alert" data-toggle="modal" >Remover Selecionados</button>
      </div>
    </div>
  </div>
  <table class="table table-striped" ng-show="contatos.length > 0">
    <thead>
      <tr>
        <th>
          <input type="checkbox" class="checkbox"  ng-model="viewModel.contatosToggle" ng-click="viewModel.selecionarTodos(contatos)">
        </th>
        <th><a href="#" ng-click="viewModel.ordenarPor('nome')">Nome</a></th>
        <th class="text-center"><a href="#" ng-click="viewModel.ordenarPor('telefone')">Telefone</a></th>
        <th class="text-center"><a href="#" ng-click="viewModel.ordenarPor('operadora')">Operadora</a></th>
        <th class="text-center"><a href="#" ng-click="viewModel.ordenarPor('data')">Atualizado em</a></th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contato in contatos | filter: busca | orderBy: viewModel.campo: viewModel.reverso" ng-class="{'text-danger': contato.selecionado}">
        <td>
          <input type="checkbox" class="checkbox" ng-model="contato.selecionado">
        </td>
        <td>{{contato.nome}}</td>
        <td class="text-center">{{contato.telefone}}</td>
        <td class="text-center">{{contato.operadora}}</td>
        <td class="text-center">{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td class="text-center">
          <a class="btn btn-xs btn-default" data-toggle="tooltip" title="Adicionar como favorito" ng-click="viewModel.selecionarFavorito(contato)"><i class="glyphicon glyphicon-star-empty" ng-class="{'favorito': contato.isFavorito}"></i></a>
          <a class="btn btn-xs btn-default" href="#!/contatos/form/{{$index}}"><i class="glyphicon glyphicon-pencil"></i></a>
          <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-alert" ng-click="viewModel.selecionarContato(contatos[$index])"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
