<!-- modal do formulario -->
<div class="modal fade in" id="formModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" data-dismiss="modal" ng-click="goBackRoute()">&times;</span>
        <h3 class="modal-title text-center" ng-bind="title"></h3>
      </div>
      <!-- fim do modal header -->
      <div class="modal-body">
        <div class="row" style="margin-bottom: 30px; ">
          <div class="col-xs-6 col-xs-offset-3">
            <form name="formContato" >
              <div class="form-group">
                <input type="text" name="nome" class="form-control no-radius" placeholder="Nome" ng-model="contato.nome" ng-required="true" ng-minlength="3">
              </div>
              <div class="form-group">
                <input type="text" name="telefone" class="form-control no-radius" placeholder="Telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
              </div>
              <div class="form-group">
                <select name="operadora" class="form-control no-radius" ng-model="contato.operadora" ng-options="operadora.nome as operadora.nome group by operadora.categoria for operadora in operadoras | orderBy: 'nome'" ng-required="true">
                  <option value="">{{contato.operadora || 'Selecione uma operadora.'}}</option>
                </select>
              </div>
            </form>
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-block no-radius" data-dismiss="modal" ng-disabled="formContato.$invalid" ng-click="salvarModal(contato)">Adicionar Contato</button>
            </div>
            <div ui-view="alert-messages"></div>
          </div>
        </div>
        <!-- fim da linha do form -->
      </div>
      <!-- fim do modal body -->
    </div>
    <!-- fim do modal content -->
  </div>
  <!-- fim do modal dialog -->
</div>
<!-- fim do modal -->
