<div class="modal fade" id="modal-alert">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Alerta
      </div>
      <div class="modal-body">
        <div>
          Você relmente deseja excluir este contato?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-right" ng-click="confirmarRemocao()" data-dismiss="modal">Excluir</button>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
